<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN"> 
<html> 
<head>  
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/bootstrap-theme.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css') }}">
<title>Home</title>
</head>

<body>
	
	<div class= "container"><h1>Website <span class="glyphicon glyphicon-ok"></span><h1><h3>Welcome {{user}} </h3>
	<br>
	<center>
<div class="container jumbotron" style="border-radius:50px">
	<h1>You have logged out</h1>
	<a href="\login"><h3>Click Here to Return to the Login Page</h3></a>
			<div>
				<center>
	</div>
</body>
</html>